<div class="container about">
<div class="row">
<div class="col-10 offset-1">
<h1>About Phantom</h1>
<p>Phantom was built by <a href="https://github.com/alasmaritza" target="_blank">Maritza Alas</a></p>
</div>
</div>
<div class="row">
<div class="col-4 col-sm-4">
<%= image_tag 'Profilepic.jpg', class: 'img-fluid' %>
</div>
<div class="col-8">
<p><strong>Maritza Alas</strong> is a Front-End Developer, Film Editor and UC Riverside Alumna.</p>
</div>
</div>
</div>