@font-face {
    font-family: '20_dbregular';
    src: font_url('20db-webfont.woff') format('woff');
    /*src: font_url('20db-webfont.woff2') format ('woff2');*/
    font-weight: normal;
    font-style: normal;

}